body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  /* font-family: var(--font-jetBrainsMono); */
  /* font-family: var(--font-roboto);
   */
}

* {
  box-sizing: border-box;
  font-family: var(--font-jetbrains-mono), monospace;
}

/* Nick */
:root {
  --dark-color: #000000;
  --background-color: #34385a;
  --med-text-color: #888787;
  --light-text-color: #ffffff;
  --highlight-red: #8b0419;
  --highlight-green: #4ad22b;
  --highlight-yellow: #fa9f15;
  --header-height: 10rem;
}

h2 {
  color: var(--med-text-color);
  font-family: var(--font-jetbrains-mono), monospace;
}

/* styles/globals.css */
.header-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* padding: 1rem; */
  height: var(--header-height);
}

.restOfPage {
  margin-top: var(--header-height);
  padding: 1rem;
  overflow-y: auto;
}

/* .jetBrains {
  font-family: var(--font-jetBrainsMono);
} */
