.divSuperInput {
  display: flex;
  justify-content: center;
  width: 100%;
}
.inputPassword {
  border-radius: 12px;
  font-size: xx-large;
  width: 90%;
  padding: 1rem;
  margin-bottom: 2rem;
}
.iconEye {
  position: absolute;
  font-size: 1.5rem;
  /* transform: translate(8rem, 1.8rem); */
  transform: translate(400%, 1.8rem);
  cursor: pointer;
}
/* Large screens (media query) */
@media (min-width: 400px) {
  .iconEye {
    transform: translate(600%, 1.8rem);
  }
}
