.mainStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.divTable {
  width: 95%;
  position: relative;
  /* background-color: green; */
}

.tableStyle {
  width: 100%;
}

.theadCustom {
  position: sticky;
  top: 0;
  /* background-color: white; */
  z-index: 1;
}
/* 
.trCustom {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.tbodyCustom {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
*/
.trCustom th {
  font-size: larger;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}
.thAppName {
  display: flex;
}
.thPort {
  display: none;
}

/* Large screens (media query) */
@media (min-width: 768px) {
  .divTable {
    width: 85%;
  }
  .thPort {
    display: table-cell;
    /* background-color: purple; */
  }
}
