.toggleCell {
  cursor: pointer;
}

/* Show additional content when toggled */
.additionalContent {
  display: block;
  background-color: purple;
}
.additionalContent.visible {
  display: block;
}

.additionalContent.hidden {
  display: none;
}

.divAddContentTitle {
  color: var(--med-text-color);
}
.divAddContent {
  color: white;
  padding-left: 0.25rem;
}

.tdBtnStatus {
  display: flex;
  justify-content: center;
}
.btnStatus {
  border-radius: 12px;
  padding: 0.25rem;
}
.tdDivNameOfApp {
  color: var(--highlight-yellow);
  font-size: larger;
}
.tdPort {
  display: none;
}
/* Large screens (media query) */
@media (min-width: 768px) {
  .additionalContent {
    display: block !important; /* Override visibility state */
  }
  .spanAppName {
    font-size: xx-large;
  }
  .spanAppProjectPath {
    display: inline;
  }
  .tdPort {
    display: table-cell;
    text-align: center;
  }
}
